.profile-friend-item {
    display: flex;
    flex-direction: column;
    margin: 4px;
    cursor: pointer;
}

.profile-friend-img {
    height: 90px;
    width: 90px;
    border-radius: 4px;
}

.profile-friend-name {
    font-size: 0.7rem;
    text-align: center;
    margin-top: 2px;
}
