.comment-wrapper {
    height: auto;
    width: 100%;
    background-color: var(--box-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    margin: 15px 0 10px;
}

.comment-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.comment-input {
    background-color: var(--input-color);
    width: 90%;
    height: 36px;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 0 10px;
    color: var(--text-color);
}

.comment-btn {
    background-color: var(--input-color);
}

.comment-list {
    list-style: none;
}

.comment-item {
    display: flex;
    align-items: center;
    margin: 15px 0;
    position: relative
}

.comment-box {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    margin-left: 15px;
    padding: 10px;
    background-color: var(--input-color);
    border-radius: 20px;
    text-align: justify;
    max-width: 580px;
    overflow-wrap: break-word;
}
.comment-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 49px;
    background-color: transparent;
    height: 81px;
    width: 548px;
}

.comment-text {
    font-weight: 200;
}


.comment-delete {
    position: absolute;
    top: 6px;
    right: 5px;
    border: 1px solid #00b3ff;
    color:#00b3ff;
    font-size: 18px;
    text-align: center;
    height: 28px;
    width: 28px;
    border-radius: 50%; 
    visibility: hidden;
}
.comment-delete:hover {
    color:rgb(255, 255, 255);
    background-color: #00b3ff;
    box-shadow: 0 0 10px #00b3ff;
    cursor: pointer;
    z-index: 2;
}

.comment-box:hover .comment-delete {
    visibility: visible;
}