.sidebar {
    flex: 2;
    height: calc(100vh - 70px);
    overflow: hidden;
    position: sticky;
    top: 70px
}

.sidebar:hover {
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 6px;
    height: 4px;
    cursor: pointer;
}


::-webkit-scrollbar-track {
    background-color: var(--bg-color);
    width: 100%;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(112, 111, 111, 0.527);
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-track-piece {
    display: none;
}

.sidebar-wrapper {
    margin: 20px 0px 16px 20px;
    background-color: var(--bg-color);
    color: var(--text-color)
}


.sidebar-list {
    list-style: none;
}

.sidebar-item,
.sidebar-friend {
    font-size: 1.4rem;
    margin: 10px 0;
    padding: 10px 0 10px 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
}

.sidebar-item:hover {
    background-color: var(--box-color);
    border-radius: 30px;
}


.sidebar-icon {
    text-shadow: 0 0 10px rgb(63, 65, 180);

}

.sidebar-hr {
    margin: 20px 0;
    width: 90%;
    border: 1px solid var(--input-color);
}

.sidebar-btn {
    height: 20px;
    outline: none;
    border: 1px solid #00b3ff;
    cursor: pointer;
    color:#00b3ff;
    font-size: 1.1rem;
    background-color: var(--box-color);
    transition:0.2s
}

.sidebar-btn:hover {
    color:rgb(255, 255, 255);
    background-color: #00b3ff;
    box-shadow: 0 0 10px #00b3ff
}

.sidebar-friendlist {
    list-style: none;
}


@media screen and (max-width: 46.25em) {
    .sidebar-wrapper {
        display:none;
        padding:0
    }
}